/* nav bar */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {

    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747;
}

.primary-button {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

/* header related style */
.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
}

.banner-left {
    max-width: 500px;
}

.banner img {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-heading {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px
}

/* about section */
.about {
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* about information section */
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.info-description{
    color:#181818;
    font-weight: 600;
}

.sec-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}